.hidden {
  display: none;
}

.container {
  margin: auto;
  margin-top: 1rem;
  border: 8px double #435e33;
  background-color:#85bb65;
  color: #2a3c20;
}

#over-div {
  z-index: 10;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  float:left;
  position: absolute;
  height: 300px;
  width: -moz-fit-content; /*for Firefox */ 
  width: fit-content;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background-color: white;
  text-align: center;
}

#over-header{
  justify-content:space-between;
  text-align: center;
  width:auto;
}

#close-button{
  float:right;
  position: fixed;
  padding-left:1em;
}

#codes-table{
  margin-top: 2rem;
}

#footer {
  text-align: center;
  background-color: #435e33;
  margin-left: -1em;
  margin-right: -1em;
  color: #131c0f;
}

#footer a{
  color: #131c0f;
}

#header-div {
  text-align: center;
  background-color: #435e33;
  color: #131c0f;
  margin-bottom: 1em;
}

#help-button{
  display:inline;
}